@media (min-width: 1920px) {
  .banner .swiper-slide {
    background-size: contain;
  }
}

@media (max-width: 1220px) {
  .container {
    padding: 0 20px;
  }

  .menu-item:not(:last-child) {
    margin-right: 30px;
  }

  .address {
    /* width: 70%; */
    text-align: right;
  }

  .service-cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .service-card {
    width: 100%;
    max-width: 500px;
  }

  .navbar-logo {
    height: 85px;
  }

  .banner .swiper-slide {
    background-position: right 40% top 20%;
  }
}

@media (max-width: 1024px) {
  .banner-swiper {
    height: 650px;
  }

  .navbar-menu {
    display: none;
  }

  .navbar-toggler {
    display: block;
  }

  .navbar-menu.opened {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    background: #c3c3d0;
    z-index: 100;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .menu-item {
    margin: 0 0 30px 0 !important;
  }

  .menu-item a {
    font-size: 28px;
  }

  .service-card-img {
    height: 170px;
    aspect-ratio: 1;
  }
}

@media (max-width: 750px) {
  .service-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 692px) {
  .banner-swiper {
    height: 500px;
  }

  .slide-content {
    padding: 2rem;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 1.5rem;
  }

  .block-title {
    font-size: 32px;
  }

  .navbar-social {
    display: none;
  }
}

@media (max-width:485px) {
  .navbar-logo {
    height: 65px;
  }

  .navbar-contacts {
    display: none;
  }
}

@media (max-width: 430px) {
  .service-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 380px) {
  .banner-swiper {
    height: 450px;
  }

  .slide-content {
    padding: 1rem;
    align-self: flex-end;
    margin-bottom: 20px;
  }

  .banner .slide-content p {
    margin-bottom: 10px;
  }

  .block-title {
    font-size: 26px;
  }
}
